 <div class="pagination fr">   
 {% for part in paginate.parts %}
   {% if part.is_link %}
   <a href="{{part.url}}">{{part.title}}</a>
   {% else %}
   <span>{{part.title}}</span>
   {% endif %}
   {% endfor %}
</div>