<h1> Cтраница не найдена</h1> 
<p> Возможно вы сделали опечатку в адресе или страница была перемещена.</p> 
<p class="small"> 
  Вернуться на <a href="#" onclick="history.back(); return false;" > предыдущую страницу</a> или на главную <a href="/" > {{account.title}}</a> .
</p> 